.bg{
    background: url('../img/eye.jpeg') no-repeat; width: 100%; height: 100vh;
}

.form-container {
    border: 0px solid #fff;
    padding: 50px 60px;
    margin-top: 20vh;
    margin: 20vh 80vh;

    -webkit-box-shadow: 10px 6px 108px 35px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 108px 35px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 108px 35px rgba(0,0,0,0.75);
}

*{color: #fff; background-image: cover;}




